language: php

before_script:
  - composer self-update
  - composer update --prefer-source

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

matrix:
  include:
    - php: "5.3"
      dist: precise

script:
  - vendor/bin/phpunit --testsuite travis-ci
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover

dist: trusty
